body {
    margin: 0;
    overflow: hidden;
    font-family: Hack;
}

.main-link {
    text-decoration: none;
    font-size: 35px;
    color: #48444c;
    padding: 5px 15px;
}

.main-link:hover {
    background-color: rgba(93, 255, 0, 0.5);
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

.modal-white-container {
    position: relative;
    top: 5%;
    text-align: center;
}

#description-container {
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
}

#description {
    color: #48444c;
}

.modal-white {
    background-color: rgba(255.0, 255.0, 255, 0.95);
    display: inline-block;
    padding-bottom: 46px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 1px 1px 4px rgb(59, 51, 81);
}

#my-name {
    font-size: 90px;
    color: #48444c; 
    margin-bottom: -10px;
}

#fabric-container {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 100%;
}

#fabric-image {
    display: inline-block;
    position: relative;
    width: 1100px;
    float: right;
    right: -60px;
    top: -50px;
}

#fabric-image-green {
    display: inline-block;
    position: relative;
    width: 1300px;
    float: right;
    right: -30px;
    top: -30px;
}
