body {
    margin: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #48444c;
    background-color: #131052;
}

.title-font {
    font-family: 'Hack', monospace;
    font-weight: bold;
    font-size: 110px;
    color: #48444c; 
    margin-bottom: -10px;
    margin-top: 40px;
}

.main-link {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Hack';
    color: #48444c;
    padding: 5px 15px;
}

.main-link:hover {
    background-color: rgba(93, 255, 0, 0.5);
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

.modal-white-container {
    position: relative;
    top: 5%;
    text-align: center;
}

#description-container {
    padding-bottom: 20px;
    display: inline-block;
    width: 65%;
}

#description {
    color: #48444c;
    font-size: 20px;
}

.modal-white {
    background-color: rgba(255.0, 255.0, 255, 0.95);
    display: inline-block;
    padding-bottom: 46px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1000px;
}

#fabric-container {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 100%;
}

#fabric-image {
    display: inline-block;
    position: relative;
    width: 1100px;
    float: right;
    right: -60px;
    top: -50px;
}

#fabric-image-green {
    display: inline-block;
    position: relative;
    width: 1300px;
    float: right;
    right: -30px;
    top: -30px;
}

#fabric-image-orange {
    display: inline-block;
    position: relative;
    width: 1100px;
    float: left;
    left: -30px;
    top: 100px;
}
